<div class="list">
  <div class="container-fluid">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="list-header">
        <h1 class="list-name"><%= @list.name %></h1>
        <p class="lead"><%= @list.description %></p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <main class="col-lg-8 col-lg-offset-2">
      <ul class="list-items">
        <li>
          <input id="cb1" name="cb1" type="checkbox">
          <label for="cb1">
            Efficiently unleash information
            <br />
            <small>ciao ciao ciao</small>
          </label>
        </li>
        <li>
          <input id="cb1" name="cb1" type="checkbox">
          <label for="cb1">Efficiently unleash information</label>
        </li>
        <li>
          <input id="cb1" name="cb1" type="checkbox">
          <label for="cb1">Efficiently unleash information</label>
        </li>
      </ul>
    </main>
  </div>
  <div class="list-clauses">

  </div>

  <div class="list-footer">
    <div class="list-footer-left">
      <span class="list-author-avatar">
        <a href="https://medium.com/@mikepetroff" class="avatar avatar--icon avatar--inline link link--secondary" title="Go to the profile of Mike Petroff">
          <img src="https://d262ilb51hltx0.cloudfront.net/fit/c/32/32/0*StkYppG0RyU2skFp.jpeg" class="avatar-image avatar-image--icon" title="Mike Petroff">
        </a>
      </span>
      <span class="list-author-dateline">
        <a class="link link--secondary" title="Go to the profile of Mike Petroff" href="https://medium.com/@mikepetroff">Mike Petroff</a>
        <span class="postMetaInline postMetaInline--date">
          <span class="u-xs-hide"> on </span>
          <time class="post-date">Feb 6, 2014</time>
          <span class="middotDivider"></span>2 min</span>
        </span>
      </span>
    </div>
    <div class="list-footer-right">
      <button class="btn btn-success">Print</button>
    </div>
  </div>

</div>

